.films-container {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-wrap: wrap
  }
}

.films-item {
  width: calc(25% - 16px);
  @media (max-width: 768px) {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
  @media (max-width: 425px) {
    width: calc(100%);
    margin-bottom: 20px;
  }
}

.film-img {
  border-radius: 8px;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.film-title {
  font-weight: normal;
  padding-top: 18px;
  font-size: 20px;
  color: #333333;
  @media (max-width: 1024px) {
    text-align: center;
  }
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.back {
  background-size: contain;
  transition: 0.5s;
  transform: rotateY(180deg);
  //-ms-transform: rotateY(180deg);
  overflow: auto;
  font-size: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 10;
  }
}

.front {
  transition: 0.5s;
  backface-visibility: hidden;
  color: white;
  font-size: 0;
}

.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-container {
  perspective: 2000px;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.flipper:hover .front {
  -ms-transform: rotateY(180deg);
}

.flipper:hover .back {
  -ms-transform: rotateY(0deg);
}

.back-text {
  z-index: 20;
  padding: 15px;
  left: 0;
  top: 0;
  position: absolute;
  color: #FFFFFF;
  line-height: 22px;
  font-size: 16px;
  @media (max-width: 1024px) {
    width: 100%;
    line-height: inherit;
    padding: 5px;
    font-size: 12px;
  }
}

//.film-img-back {
//  border-radius: 8px;
//  cursor: pointer;
//  // filter: brightness(0.5);
//  @media (max-width: 768px) {
//    width: 100%;
//    height: auto;
//  }
//}

